#torch===1.2.0
#torchvision===0.4.0
#opencv-python
#conda create -n epnet python==3.8 pytorch==1.10.0 torchvision==0.11.0 torchaudio==0.10.0 cudatoolkit=11.3 -c pytorch -c conda-forge  
#conda install opencv numpy numba cython pandas scipy scikit-image cudf -c numba -c conda-forge -c menpo -c rapidsai
shapely
Cython
scipy
pandas
PyYAML==5.4.1
json_tricks
scikit-image
yacs>=0.1.5
tensorboardX>=1.6
tqdm
ninja
fire
numba==0.53.1
easydict
opencv-python
numpy==1.21